.DS_Store
*.tmp
src/ontology/mirror
src/ontology/mirror/*
src/ontology/ecto.owl
src/ontology/ecto.obo
src/ontology/ecto.json
src/ontology/ecto-base.*
src/ontology/ecto-basic.*
src/ontology/ecto-full.*
src/ontology/ecto-simple.*
src/ontology/ecto-simple-non-classified.*
semantic.cache
bin/
src/ontology/seed.txt
src/ontology/target/
src/ontology/dosdp-tools.log
src/patterns/imports/seed_sorted.txt
src/ontology/ed_definitions_merged.owl
src/ontology/patterns 
*.tmp.obo
*.tmp.owl
src/patterns/pattern_owl_seed.txt
src/ontology/Dockerfile
src/patterns/all_pattern_terms.txt
src/ontology/reports
src/ontology/tmp
src/ontology/imports/*_terms_combined.txt
