.ontology-source{
    background-color: #5FBDCE;
    padding:2px;
    padding-right:4px;
    color: white;
    /*font-size: larger;*/
    border-radius: 3px;
    display: inline-block;
    margin-right: 4px;
    vertical-align: middle;
  }
  
  a .ontology-source {
    background-color: #5FBDCE;
    padding:2px;
    padding-right:4px;
    color: white;
    /*font-size: larger;*/
    border-radius: 3px;
    display: inline-block;
    margin-right: 4px;
    vertical-align: middle;
    border-bottom: none;
  }
  
  .term-source{
    background-color: #ffac1b;
    padding:2px;
    padding-right:4px;
    color: white;
    /*font-size: larger;*/
    border-radius: 3px;
    display: inline-block;
    margin-right: 4px;
    vertical-align: middle;
  }